ul {
list-style-type:none;
}

li {
    font-size: 1.5em;
    padding: 10px;
    border: 2px solid #6aad69;
    margin: 0 0 12px 0;
}

ul {
  list-style-type: none;
  padding: 10px 20px;
  display: inline-block;
}

select {
width: 7em;
height: 2em;
text-align: center;
text-align-last: center;
float: right;
}

div {
    height: 3em;
    margin-left: 45%;
    margin-right: 45%;
    width: 10%;
    display: grid;
}

h4 {
    text-align: center;
    font-size: 1.5em;
}

input[type=checkbox] {
    float: left;
    width: 20px;
    height: 20px;
}

