h4 {
    text-align: center;
    font-size: 1.5em;
}

input[type=button] {
    width: 10%;
    height: 30px;
    margin: 0 0 20px 0;
}

input[type=submit] {
    width: 10%;
    height: 30px;
    margin: 0 0 20px 0;
}

input[type=email] {
    width: 10%;
    height: 20px;
    font-size: 15px;
}

input[type=password] {
    width: 10%;
    height: 20px;
    font-size: 20px;
}

input[type=textarea] {
    margin: 0 0 8px 0;
}