<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mail-reports</title>
        <link rel="stylesheet" href="../static/css/index.css" />
</head>
<body>
<form action="submit" id="textform" method="post">
    <h4>Select tickets you want to add to report and set current status from drop-down menu:</h4>
<ul>
    {% for n in data %}
        <li>{{n}} <input name = chbx{{loop.index}} type="checkbox">
            <select name = ddl{{loop.index}}>
            {% for status_name in dropdown_list %}
                <option value="{{status_name}}">{{status_name}}</option>
            {% endfor %}
            </select>
        </li>
    {% endfor %}
</ul>
        <div><input type="submit" value="Compose email text"></div>
</form>
</body>
</html>
<script>

</script>