<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="../static/css/result.css" />
</head>
<body>
<form action="send" id="email" method="post">
<header>
<h4>Put you email credentials and click "Send this email":</h4>
</header>

<section>
<textarea name = "email_text">{{data}}</textarea>
</section>

    <section>
    <input name="userName" placeholder="email" type="email">
    <input name ="userPassword" placeholder="password" type="password">
</section>
    <input type="button" value="BACK" onclick="goBack()"/>
    <input type="submit" value="Send this email">
</form>

</body>
</html>
<style>
textarea {
  width: 20%;
  height: 150px;
}
section {
    margin: 10px 0 10px 0;
}
</style>
<script>
function goBack() {
  window.history.back();
}
</script>